name: SonarQube
on:
  push:
    branches:
      - main
      - delivery2   
  pull_request:
    branches:
      - main
      - delivery2
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Desactiva clones superficiales para un mejor análisis
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu' # Distribución recomendada por SonarCloud
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Necesario para que Sonar comente en PRs
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        # Se añade explícitamente la organización definida en tu pom.xml
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=PabloP150_Pdds-ISA-Project -Dsonar.organization=pablop150 -Dsonar.branch.name=main